@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    .image-container {
        background-image: url('../img/profile2.jpg');
    }
    
    .container {
        width: 100%;
        background-color: rgb(73, 24, 24);
        color: burlywood;
        border: 2px solid rgb(55, 0, 255);
    }
    

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {
    .image-container {
        background-image: url('../img/profile3.jpg');
    }
    
    .container {
        width: 100%;
        background-color: rgb(255, 189, 244);
        color: rgb(0, 0, 0);
        border: 3px solid rgb(17, 0, 255);
    }
}


@media (min-width: 1024px){ 
    .image-container {
        background-image: url('../img/profile4.jpg');
    }
    
    .container {
        width: 100%;
        background-color: rgb(0, 58, 3);
        color: rgb(198, 255, 193);
        border: 3px solid rgb(255, 0, 191);
    }
}


@media (min-width: 1200px){
    .image-container {
        background-image: url('../img/profile1.jpg');
    }
    
    .container {
        width: 100%;
        background-color: rgb(139, 167, 140);
        color: rgb(4, 46, 1);
        border: 4px solid rgb(138, 0, 103);
    }
   
    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}


